<div class="example-container mat-elevation-z8">
	<mat-table #table [dataSource]="dataSource">

		<!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

		<!-- Number Column -->
		<ng-container cdkColumnDef="number">
			<mat-header-cell *cdkHeaderCellDef> Number </mat-header-cell>
			<mat-cell *cdkCellDef="let row"> {{row.number}} </mat-cell>
		</ng-container>

		<!-- Title Column -->
		<ng-container cdkColumnDef="title">
			<mat-header-cell *cdkHeaderCellDef> Title </mat-header-cell>
			<mat-cell *cdkCellDef="let row"> {{row.title}} </mat-cell>
		</ng-container>

		<!-- State Column -->
		<ng-container cdkColumnDef="state">
			<mat-header-cell *cdkHeaderCellDef> State </mat-header-cell>
			<mat-cell *cdkCellDef="let row"> {{row.state}} </mat-cell>
		</ng-container>

		<mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</div>